 
 <div class="row" style ="background-color:teal; height: 100vh;">
   <div class="col-sm-7">
     <div class="mt-5">
    <h4 class="text-center">Welcome to one stop solution of</h4>
    <h3 class="text-center" style="color:rgb(253, 253, 253); font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Doctor Appointment Booking System</h3>
    <img class="shadow p-3 mb-5 bg-white rounded" src="../assets/banner1.jpg">
   </div></div>
    <div class="col-sm-5 py-3 shadow p-3 mb-5 bg-white rounded" style ="background-color: azure; height: 100%;">
      <nav class="nav nav-pills nav-fill">
        <a class="nav-item nav-link btn btn-info" routerLink='/usersignin'>Sign-in</a><pre> </pre>
        <a class="nav-item nav-link btn btn-info" routerLink='/usersignup'>Register</a>
      </nav>
    <div class="mt-2">
          <router-outlet></router-outlet>
    </div>
  </div>
</div>

 
 
 
 