<div style ="background-color:whitesmoke; height:auto;">
    <div class="flex-row d-flex justify-content-center h3">{{pageTitle}}</div><hr>
    <div class = "flex-row d-flex justify-content-center">
        <div class="row shadow p-3 mb-5 bg-white rounded">
     <form [formGroup]="AppointmentForm">
       <table class="table">
         <tr>
           <td style="width: 300px;">
            <div class="form-group">
              <label for="hospital">Hospitals</label>
              <select class="form-control" id="hospital" formControlName = "hospital" 
              (change) = "onHospitalChange($event.target.value)"
              [ngClass] = "{'is-invalid' : AppointmentForm.get('hospital').touched && AppointmentForm.get('hospital').invalid}">
                  <option value = "null" selected>Select</option>
                  <option *ngFor = "let hosp of hospitals" [value] = "hosp.id" >{{hosp.hospital}}</option>
              </select>
              <div style="position: relative;" class="invalid-tooltip" *ngIf = 
                "AppointmentForm.get('hospital').touched && AppointmentForm.get('hospital').invalid">
                    <div *ngIf = "AppointmentForm.get('hospital').errors.required">
                        Please select Hospital.
                    </div>
              </div>
            </div>
           </td>
           <td style="width: 300px;">
              <div class="form-group ">
                <label for="doctor">Doctors</label>
                <select class="form-control" id="doctor" formControlName = "doctor" 
                [ngClass] = "{'is-invalid' : AppointmentForm.get('doctor').touched && AppointmentForm.get('doctor').invalid}">
                    <option value = 'null' selected>Select</option>
                    <option *ngFor = "let doc of doctors" [value] = "doc.did" >{{doc.name}}</option>
                </select>
                <div style="position: relative;" class="invalid-tooltip" *ngIf = 
                  "AppointmentForm.get('doctor').touched && AppointmentForm.get('doctor').invalid">
                      <div *ngIf = "AppointmentForm.get('doctor').errors.required">
                          Please select Doctor required.
                      </div>
                </div>
              </div>
           </td>
         </tr>
         <tr>
           <td style="width: 300px;">
            <div class="form-group">
              <label for="appointmentDate">Appointment Date</label>
              <input type="text" class="form-control" id="appointmentDate" 
              placeholder="DD/MM/YYYY" formControlName = "doa"
              bsDatepicker [bsConfig] = "bookAptDatepick"
              [ngClass] = "{'is-invalid' : AppointmentForm.get('doa').touched && AppointmentForm.get('doa').invalid}">
              
              <div style="position: relative;" class="invalid-tooltip" *ngIf = 
                "AppointmentForm.get('doa').touched && AppointmentForm.get('doa').invalid">
                    <div *ngIf = "AppointmentForm.get('doa').errors.required">
                        Date is required.
                    </div>
              </div>
            </div>

           </td>
           <td style="width: 300px;">
            <div class="form-group">
              <label for="appointmentTime">Appointment Time</label>
              <input type="text" class="form-control" id="appointmentTime" placeholder="HH:MM" formControlName = "time"
              [ngClass] = "{'is-invalid' : AppointmentForm.get('time').touched && AppointmentForm.get('time').invalid}">
              
              <div style="position: relative;" class="invalid-tooltip" *ngIf = 
                "AppointmentForm.get('time').touched && AppointmentForm.get('time').invalid">
                    <div *ngIf = "AppointmentForm.get('time').errors.required">
                        Time is required.
                    </div>
                    <div *ngIf = "AppointmentForm.get('time').errors.pattern">
                        Time should be 09:00 to 21:00.
                    </div>
              </div>
            </div>

           </td>
         </tr>
         <tr>
           <td colspan="1" style="width: 300px;">
            <div class="form-group">
              <label for="state">State</label>
              <select id="state" class="form-control" formControlName = "state">
                  <option value = 'A' selected>Active</option>
                  <option value = 'C'>Cancel</option>
              </select>
            </div>
           </td>
         </tr>
       </table>
        <div class="mb-5">
          <button *ngIf = "appointid === null"type="submit" class="btn btn-success" (click)="OnSubmitClick()" [disabled] = "!AppointmentForm.valid">Submit</button>
          <button *ngIf = "appointid !== null" type="submit" class="btn btn-success" (click)="OnUpdateClick()">Update</button>
          <button type="submit" class="btn btn-info ml-2" (click)="OnResetClick()">Reset Form</button>
          <button type="submit" class="btn btn-danger ml-2" (click)="OnCancelClick()">Cancel</button>
        </div>
      </form>
    </div>
    </div>
</div>