<div class="row">
    <div class="col-md-8 col-xl-12 mx-auto">
        <form [formGroup]="signInForm">
            <div class="card  mt-1" style="width:100%;">
                <div class="card-header">
                    <h4>Sign-In</h4>
                </div>
                <div class="card-body">
                        <div class="form-group">
                        <label for="username">User Name</label>
                        <input type="text" class="form-control" id="username" placeholder="Username"
                        formControlName = "userName" [ngClass] = "{'is-invalid' : signInForm.get('userName').touched && signInForm.get('userName').invalid}">
                        <div style="position: relative;" class="invalid-tooltip" *ngIf = "signInForm.get('userName').touched && signInForm.get('userName').invalid">
                        <div *ngIf = "signInForm.get('userName').errors.required">
                            Username is required.
                        </div>
                        <div *ngIf = "signInForm.get('userName').errors.pattern">
                            User name must contain only alphabets with length 3 to 8 characters.
                        </div>
                        </div>
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Password"
                        formControlName = "password" [ngClass] = "{'is-invalid' : signInForm.get('password').touched && signInForm.get('password').invalid}">
                        <div style="position: relative;" class="invalid-tooltip" *ngIf = "signInForm.get('password').touched && signInForm.get('password').invalid">
                            <div *ngIf = "signInForm.get('password').errors.required">
                                Password is required.
                            </div>
                            </div>
                        </div>
                        
                    
                </div>
                <div class="card-footer">
                    <button class="btn btn-success float-right" (click) = "onSubmitClick()"
                    [disabled] = "!signInForm.valid">Submit</button>
                </div>
            </div>
        </form>
    </div>
    
</div>