<div class="row">
    <div class="col-md-8 col-xl-12 mx-auto">
        <form [formGroup]="RegisterForm">
            <div class="card  mt-1" style="width:100%;">
                <div class="card-header">
                    <h4>Register</h4>
                </div>
                <div class="card-body"  style="max-height: 250px; overflow-y: scroll;">
                    
                        <div class="form-group">


                            <label for="name">Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Name"
                            formControlName = "name" [ngClass] = "{'is-invalid' : RegisterForm.get('name').touched && RegisterForm.get('name').invalid}" >
                            <div style="position: relative;"  class="invalid-tooltip" *ngIf = "RegisterForm.get('name').touched && RegisterForm.get('name').invalid">
                                <div *ngIf = "RegisterForm.get('name').errors.required">
                                    Name is required.
                                </div>
                                <div *ngIf = "RegisterForm.get('name').errors.pattern">
                                    Name must contain only alphabets, space with length 3 to 10 characters.
                                </div>
                            </div>


                            <label for="username">User Name</label>
                            <input type="text" class="form-control" id="username" placeholder="User name"
                            formControlName = "userName" [ngClass] = "{'is-invalid' : RegisterForm.get('userName').touched && RegisterForm.get('userName').invalid}" >
                            <div style="position: relative;"  class="invalid-tooltip" *ngIf = "RegisterForm.get('userName').touched && RegisterForm.get('userName').invalid">
                                <div *ngIf = "RegisterForm.get('userName').errors.required">
                                    User name is required.
                                </div>
                                <div *ngIf = "RegisterForm.get('userName').errors.pattern">
                                    User name must contain only alphabets with length 3 to 8 characters.
                                </div>
                            </div>


                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" placeholder="Password"
                            formControlName = "password">

                            <label for="guardianName">Guardian Name</label>
                            <input type="text" class="form-control" id="guardianName" placeholder="Guardian Name"
                            formControlName = "guardianName">

                            <label for="address">Address</label>
                            <input type="text" class="form-control" id="address" placeholder="Address"
                            formControlName = "address">
                            
                            <label for="email">Email</label>
                            <input type="text" class="form-control" id="email" placeholder="Email"
                            formControlName = "email">
                            <div class="form-group form-group-row">
                                <label for="gender">Gender</label><br>
                                <div class="form-check-lable form-check-inline">
                                    <input type="radio" class="form-check-input" name = "gender" value = "Male" id="Male"
                                    formControlName = "gender">
                                    <label for = "Male" class ="form-check-label">Male</label>
                                </div>
                                <div class="form-check-lable form-check-inline">
                                    <input type="radio" class="form-check-input" name = "gender" value = "Female" id="Female"
                                    formControlName = "gender">
                                    <label for = "Female" class ="form-check-label">Female</label>
                                </div>
                            </div>
                            <label for="maritalStatus">Marital Status</label>
                            <select class="form-control" id="maritalStatus"
                            formControlName = "maritalStatus" name="maritalStatus">
                                <option value="null" selected>Select</option>
                                <option value="M">Married</option>
                                <option value="S">Single</option>
                                <option value="D">Divorced</option>
                                <option value="W">Widowed</option>
                        </select>
                            <label for="contNumber">Contact Number</label>
                            <input type="text" class="form-control" id="contNumber" placeholder="Contact No."
                            formControlName = "contact">
                        </div>
                        <label for="dob">Date of Birth</label>
                        <input type="text" bsDatepicker [bsConfig] = "registerDatepick" class="form-control" id="dob" placeholder="DD/MM/YYYY"
                        formControlName = "dob">
                </div>
                <div class="card-footer">
                    <button class="btn btn-success float-right" (click) = "onRegisterClick()"
                    [disabled] = "!RegisterForm.valid">Register</button>
                </div>
            </div>
        </form>
    </div>
    
</div>